.body{
    font-family: "helvetica", sans-serif;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.timer{
    text-align: center;
    width: 150px;
    padding: 15px;
    color: #f3f3f3;
    background: #171717;
    border-radius: 8px 8px 0px 0px;
}

.buttons{
    padding: 15px;
    background: #f3f3f3;
    border-radius: 0px 0px 8px 8px;
}